@using HairSalon.Models;

<head>
    <title>The Hair Salon</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
</head>
<body>
  <div class="container">
    <h1>List of All Clients</h1>
    <div class="well">
      @foreach(var person in Model)
      {
        <li>Name: @person.GetName(), Phone#@person.GetPhone(), Stylist: @Stylist.Search(@person.GetCategoryId()).GetName()</li>
      }
    </div>
    <form action="/Client/CreateForm">
      <button class="btn btn-success" type="click">Add New Client</button>
    </form>
    <form action="/Client/DeleteAll">
      <button class="btn btn-danger" type="click">Delete All Clients</button>
    </form>
    <form action="/Stylist">
      <button class="btn btn-success" type="click">Home</button>
    </form>
  </div>
</body>
