<head>
    <title>Snappy Snips</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
</head>
<body>
  <div class="container">
    <h1>List of Specialties</h1>
    <div class="well">
      @foreach(var specialty in Model)
      {
        <li>Name: @specialty.GetName() -- <a href="/Specialty/@specialty.GetId()/View">Details</a></li>
      }
    </div>
    <form action="/Specialty/CreateForm">
      <button class="btn btn-success" type="click">Add New Specialty</button>
    </form>
    <form action="/">
      <button class="btn btn-info" type="click">Back</button>
    </form>
    <form action="/Specialty/DeleteAll" method="post">
      <button class="btn btn-danger" type="click">Delete All Specialties</button>
    </form>
  </div>
</body>
