<head>
    <title>The Hair Salon</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
</head>
<body>
  <div class="container">
    <h1>Welcome To The Hair Salon</h1>
    <form action="/Stylist">
      <button type="click" class="btn btn-success">Employee Terminal</a>
    </form>
  </div>
</body>
