<head>
    <title>Snappy Snips</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
</head>
<body>
  <div class="container">
    <h1>Welcome To Snappy Snips Employee Terminal</h1>
    <form action="/Stylist">
      <button type="click" class="btn btn-info">View Stylists</a></button>
    </form>
    <form action="/Specialty">
      <button type="click" class="btn btn-info">View Specialties</a></button>
    </form>
    <form action="/Client">
      <button type="click" class="btn btn-info">View Clients</a></button>
    </form>
  </div>
</body>
