<head>
    <title>The Hair Salon</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
</head>
<body>
  <div class="container">
    <h1>Add a New Stylist</h1>
    <form action="/Stylist/Add" method="post">
      <label for="newname">Name</label>
      <input type="text" name="newname" id="newname" class="form-control">
      <label for="newstyle">Style/Styles</label>
      <input type="text" name="newstyle" id="newstyle" class="form-control">
      <button class="btn btn-success" type="submit">Add New Stylist</button>
    </form>
  </div>
</body>
