<head>
    <title>Snappy Snips</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
</head>
<body>
  <div class="container">
    <h1>List of Stylists</h1>
    <div class="well">
      @foreach(var stylist in Model)
      {
        <li>Name: @stylist.GetName() -- <a href="/Stylist/@stylist.GetId()/View">More Info</a></li>
      }
    </div>
    <form action="/Stylist/CreateForm">
      <button class="btn btn-success" type="click">Add New Stylist</button>
    </form>
    <form action="/">
      <button class="btn btn-info" type="click">Back</button>
    </form>
    <form action="/Stylist/DeleteAll" method="post">
      <button class="btn btn-danger" type="click">Delete All Stylists</button>
    </form>
  </div>
</body>
