<head>
    <title>Snappy Snips</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
</head>
<body>
  <div class="container">
    <h1>Success!</h1>
    <h2>Records Updated</h2>
    <form action="/Stylist/@Model.GetId()/View">
      <button class="btn btn-info" type="click">Back</button>
    </form>
  </div>
</body>
