<head>
    <title>The Hair Salon</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
</head>
<body>
  <div class="container">
    <h1>@Model.GetName()</h1>
    <h2>About/Styles</h2>
    <div class="well">
      <p>@Model.GetStyle()</p>
    </div>
    <form action="/Client/@Model.GetId()/View">
      <button class="btn btn-success" type="click">View Client List</button>
    </form>
    <form action="/Stylist">
      <button class="btn btn-success" type="click">Home</button>
    </form>
  </div>
</body>
